* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'General Sans';
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
}

#landing-page {
    width: 100%;
    height: 100vh;
    background: black;
    color: #fff;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    color: #fff;
}

#nav a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

#heading {
    margin-top: 90px;
}

#heading h1{
    line-height: 1;
    opacity: 0.6;
    padding-left: 30px;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
}

#heading :nth-child(2) {
    margin-left: 180px;
}

.textcontent {
    width: fit-content;
}

.textcontent h5 {
    text-align: right;
    text-transform: uppercase;
    font-size: 1vw;
}

#side-heading {  
    text-align: right;
    padding-right: 50px;
    margin-top: 100px; 
}

#side-heading h5 {
    text-transform: uppercase;
    font-size: 1vw;
    margin-top: 1vw;
}

#footer {
    padding: 0 3.5vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#footer a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 1vw;
}

#footer #iconset {
    display: flex;
    gap: 5px;
}

#footer .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: #888;
    color: black;
}

